@using Algolia.Pages.Shared

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table id="employeesIndexTable" class="table table-striped custom-table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Ürün Adı</th>
                    <th>Kategori</th>
                    <th>Fiyat</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>